@media screen and (max-width: 576px) {
    nav {
        display: flex;
        flex-direction: row;
        gap: 20px;
        font-size: 26px;
        font-weight: 800;
        padding-top: 30px;
        justify-content: space-around;
        overflow: hidden;
    }

    /* nav>ul {
        visibility: hidden;
        margin-right: 15px;
      }     */

    #menu {
        display: none;
    }

    .banner-section {
        padding: 0px;
    }

    .banner-from-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px;
        /* flex-grow: 1; */
    }

    .go,
    .select-time,
    .select-season,
    .btn-primary {
        width: 70%;
        margin-top: 10px;
        margin-left: 30px;
    }

    .section-taitle {
        font-size: 22px;
    }
}