@media screen and (max-width: 576px) {
    .nav-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        font-size: 26px;
        font-weight: 800;
        padding-top: 30px;
        justify-content: center;
    }
    .nav-menu{
        visibility: hidden;
    }
}