/* Mulish font from google font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans:wght@700&display=swap');

* {
  // <uniquifier>: Use a unique and descriptive class name
  // <weight>: Use a value from 200 to 1000

  .mulish-custom {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
}

/* common shared style */
.section-taitle {
  color: rgb(255, 255, 255);
  font-family: Mulish;
  font-size: 64px;
  font-weight: 800;
  line-height: 80px;
  text-align: center;
}

.section-description {
  color: rgb(255, 255, 255);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

/* header styles */
.text-primary {
  color: rgb(255, 84, 0);
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.iht {
  display: flex;
  gap: 17px;
  font-size: 36px;
  font-weight: 700;
  align-items: center;
}

.hero {
  display: flex;
}

nav>ul {
  display: flex;
  margin-right: 15px;
}

nav li {
  list-style: none;
  margin-right: 45px;
}

nav a {
  text-decoration: none;
  color: rgb(66, 66, 71);
  font-size: 18px;
  font-weight: 400;

}

.banner-section {
  height: 500px;
  background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 105px;
}