/* Mulish font from google font */

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans:wght@700&display=swap');


* {
    // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

.mulish-custom {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
}

/* header styles */
nav{
  display: flex;
  justify-content: space-between;
}
nav a{
  text-decoration: none;
}